// Block Control

.st--block-limit-reached .st-block-controls__top {
  display: none;
}

.st-block-controls__top:before {
  display: block;
  text-align: center;
  font-size: 15px;
  border-radius: 0.2em;
  width: 36px;
  height: 36px;
  margin: 0 auto;
  padding: 0;
  vertical-align: middle;
  line-height: 36px;
}

.st-block-controls__top:hover:before {
  color: $accent-color;
  background: $blocks-control-bg-color;
}

.st-block-controls a:hover {
  text-decoration: none;
}

.st-block-controls {
  background-color: $blocks-control-bg-color;
  display: none;
  border-radius: 0.2em;
  color: $base-ui-color;
  width: 95%;
  margin: 0 2.5%;
  text-align: center;
  padding: 1.2em 0;
}

.st-block-controls--active {
  display:block;
}

.st-block-control {
  font-size: 1.125em;
  display: inline-block;
  cursor: pointer;
  margin: 0 1em 0 0;
}

.st-block-control .st-icon {
  font-size: 2.25em;
  margin: 0 auto .2em;
  display: block;
}

.st-block-control:hover {
  color: $accent-color;
}